
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.header {
  background-color: #333;
  height: 150px;
  padding-top: 3rem;
  color: white;
}

.intro {
  font-size: 1.5rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.header h1 {
  font-size: 2.7rem;
}

.App-intro {
  font-size: large;
}

.third {
  padding: 5rem;
  display: inline-block;
}

.box {
  width: 10rem;
  height: 5rem;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.colorselect {
    display: inline-block;
    padding: 5rem;
    width: 50%;
}

.colorselecttext {
    display: inline-block;
    padding: 3rem;
    width: 30%;
    text-align: center;
}

.colorselecttext h2 {
  font-size: 3rem;
}

.topcontainer {
  margin-top: 5rem;
  margin-bottom: 5 rem;
  display: block;
  height: 40rem;
}

.boxcont {
  display: inline-block;
  width: 90%;
}

.compbox {
  display: inline-block;
  height: 5rem;
  width: 75%;
}

.compline {
  width: 90%;
  display: inline-block;
  margin-bottom: 5%;
}

.complineheading {
  margin-bottom: 5rem;
  display: inline-block;
}

.hexheadingcont {
  width: 25%;
  display: inline-block;
}

.hexheading {
  padding-top: 1.4rem;
}

.hexheading:hover {
  color: #c9c9c9;
  cursor: pointer;
}

.controlcont {
  display: inline;
}

#colorWell {
  height: 10rem;
  width: 100%;
  display: inline-block;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
