
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.third {
  padding-top: 5rem;
}

.box {
  width: 10rem;
  height: 5rem;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.topcontainer {
  margin-top: 5rem;
  margin-bottom: 5 rem;
  display: block;
  height: 40rem;
}

.boxcont {
  display: inline-block;
}

.compbox {
  display: inline-block;
  height: 5rem;
  width: 10rem;
}

.compline {
  width: 100%;
  display: block;
  margin-top: 5%;
}

.testheading {


}

.testheadingcont {
  padding-top: 50%;
  height: 4rem;
}

.controlcont {
  display: inline-block;
}

#colorWell {
  height: 3rem;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
