
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.banner {
  color: white;
}

.banner h1 {
  padding-top: 6rem;
  padding-bottom: 1rem;
}

.intro {
  font-size: 1rem;
  padding-left: 18%;
  padding-right: 18%;
  padding-bottom: 2rem;
  text-align: center;
}

.App-intro {
  font-size: large;
}

.page-cont {
  max-width: 150rem;
  margin-left: auto;
  margin-right: auto;
}



.chrome-picker {
  margin-left: 20rem;
}

.box {
  width: 10rem;
  height: 5rem;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.sketch-picker {
  margin-right: 0px;
  margin-left: auto;
  margin-right: auto;
}

/* rgb input container */

.input-cont {
  width: 18rem;
  height: 400px;
  display: inline-block;
}

.third {
  display: inline-block;
  width: 18rem;
  padding-top: 2rem;
}

.third-header {
  width: 2.5rem;
  display: inline-block;
  height: 5rem;
  text-align: left;
}

.third-slider {
  width: 70%;
  display: inline-block;
  height: 5rem;
  padding-left: 2rem;
}

.slider.slider-horizontal {
    width: 150px;
    height: 20px;
}

.colorselect {
    display: inline-block;
    padding: 1rem;
    width: 20rem;
}

.colorselecttext {
    display: inline-block;
    padding: 3rem;
    width: 90%;
    text-align: center;
}

.colorselecttext h2 {
  font-size: 3rem;
}

.topcontainer {
  margin-top: 5rem;
  margin-bottom: 5 rem;
  display: block;
  height: 40rem;
}

/* Comp box container */

.boxcont {
  display: inline-block;
  width: 100%;
}

.compbox {
  height: 5rem;
  max-width: 500rem;
  min-width: 10rem;
}

.compline {
  min-width: 15rem;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
}

.complineheading {
  margin-bottom: 5rem;
  display: inline-block;
}

.hexheadingcont {
  width: 25%;
  display: inline-block;
}

.hexheading {
  padding-top: 1.4rem;
}

.hexheading:hover {
  color: #c9c9c9;
  cursor: pointer;
}

.controlcont {
  display: inline;
}
